# **7 Days Data Integration Course**

# **Course** : Machine Learning 

# **Day 1:** Introduction to Data Integration

# **Student**: Muhammad Shafiq

-----------------------------------

## **ðŸ“… Day 1: Introduction to Data Integration**

Weâ€™ll break it down into 4 sections:

- 1. What is Data Integration?

- 2. Why is it important in real ML/AI projects?

- 3. Types of data sources we integrate

- 4. Real-World Example: Combine data from 3 sources (Sales + Customers + Logs)

#### **Data Integration**

Data Integration is the process of combining data from multiple heterogeneous sources into a unified consistent, and useful format.

These data sources might have:

- Different formats(CSV, JSON, API, SQL)
- Different schemas(cloumns names/types)
- Different granularities(daily logs vs.monthly reports)

### **Why is integration even needed?**

Because **no useful ML/AI** system runs on isolated data.

Imagine a customer support AI:

- Needs customer profiles (SQL)

- Also needs chat history (JSON)

- Also needs purchase data (CSV)

To train a model on customer satisfaction, you must combine all 3 sources â†’ then clean, then model.

### **Real Business Logic**


| Use Case                | Data Sources to Integrate                                   |
| ----------------------- | ----------------------------------------------------------- |
| Predict customer churn  | CRM (SQL) + Transaction history (CSV) + Support logs (JSON) |
| Detect fraud            | Bank transactions (SQL) + Device logs (JSON)                |
| AI healthcare assistant | Patient records (Excel) + Sensor data (API)                 |

**Technical Reason:**

ML Models donâ€™t know about multiple files or databases.
They only understand one final cleaned DataFrame or tensor. You have to integrate first.

### **Types of Data Sources in Integration**

| Format      | Description               | Example                  |
| ----------- | ------------------------- | ------------------------ |
| CSV / Excel | Flat file, tabular        | sales.csv, data.xlsx     |
| JSON / XML  | Semi-structured, nested   | API responses, logs      |
| SQL DB      | Structured, fast queries  | customer\_db, orders\_db |
| API         | Live source, dynamic      | weather API, stock API   |
| NoSQL       | Semi-structured, big data | MongoDB, Firebase        |
| Logs        | Time-based, unstructured  | system logs, clickstream |

### **Load all files into pandas**

In [2]:
# import pandas 
import pandas as pd

In [5]:
# load csv
customers_df = pd.read_csv('dataset/customers_2.csv')
logs_df = pd.read_csv('dataset/activity_logs_2.csv')

# laod json
orders_df = pd.read_json('dataset/orders_2.json')

# preview
print(customers_df.head())
print(orders_df.head())
print(logs_df.head())

   customer_id     name  age                  email
0         1001  Jeffrey   58  tashabecker@morse.net
1         1002   Joseph   25      shill@delgado.org
2         1003    David   19       smorse@yahoo.com
3         1004   Thomas   35        chad33@shah.net
4         1005    Kevin   33    tmartinez@gmail.com
   order_id  customer_id   amount
0      5935         1073  4443.65
1      5322         1028  3449.47
2      5405         1083  2564.83
3      5271         1018  1609.82
4      5574         1069  1682.34
   log_id  customer_id  action            timestamp
0       1         1043   login  2025-07-15 00:10:19
1       2         1099  logout  2025-08-04 12:57:12
2       3         1017    view  2025-07-29 15:44:17
3       4         1082     buy  2025-07-31 10:50:51
4       5         1034   login  2025-07-23 13:40:29

### **Merge all 3 dataset using `customer_id`**

In [6]:
cust_orders = pd.merge(customers_df, orders_df, on='customer_id', how='left')

print(cust_orders)

# merge cust_orders + acitivity
final_df = pd.merge(cust_orders, logs_df, on='customer_id', how='left')
print(final_df)

     customer_id     name  age                           email  order_id  \
0           1001  Jeffrey   58           tashabecker@morse.net       NaN
1           1002   Joseph   25               shill@delgado.org    5566.0
2           1003    David   19                smorse@yahoo.com       NaN
3           1004   Thomas   35                 chad33@shah.net       NaN
4           1005    Kevin   33             tmartinez@gmail.com    5069.0
..           ...      ...  ...                             ...       ...
131         1097    Marie   43          rhernandez@hotmail.com    5323.0
132         1098  Michael   35  brittanywashington@hotmail.com    5512.0
133         1098  Michael   35  brittanywashington@hotmail.com    5070.0
134         1099   Brooke   22         hhorne@dunn-edwards.com       NaN
135         1100   Samuel   31         bradleypeters@gmail.com       NaN

      amount
0        NaN
1    3561.28
2        NaN
3        NaN
4    4368.36
..       ...
131  4710.80
132  1303.93
133  2897.18
134      NaN
135      NaN

[136 rows x 6 columns]
     customer_id     name  age                           email  order_id  \
0           1001  Jeffrey   58           tashabecker@morse.net       NaN
1           1002   Joseph   25               shill@delgado.org    5566.0
2           1003    David   19                smorse@yahoo.com       NaN
3           1004   Thomas   35                 chad33@shah.net       NaN
4           1004   Thomas   35                 chad33@shah.net       NaN
..           ...      ...  ...                             ...       ...
184         1098  Michael   35  brittanywashington@hotmail.com    5512.0
185         1098  Michael   35  brittanywashington@hotmail.com    5070.0
186         1099   Brooke   22         hhorne@dunn-edwards.com       NaN
187         1099   Brooke   22         hhorne@dunn-edwards.com       NaN
188         1100   Samuel   31         bradleypeters@gmail.com       NaN

      amount  log_id  action            timestamp
0        NaN     NaN     NaN                  NaN
1    3561.28    13.0     buy  2025-07-15 03:49:26
2        NaN     NaN     NaN                  NaN
3        NaN    47.0    view  2025-07-09 03:13:36
4        NaN    69.0    view  2025-07-15 02:56:16
..       ...     ...     ...                  ...
184  1303.93     NaN     NaN                  NaN
185  2897.18     NaN     NaN                  NaN
186      NaN     2.0  logout  2025-08-04 12:57:12
187      NaN    76.0  logout  2025-07-28 23:51:22
188      NaN    37.0    view  2025-07-08 01:32:06

[189 rows x 9 columns]

### **Your Homework**:

Create your own mock datasets:

- One CSV (students info)

- One JSON (exam scores)

- One log (CSV) for website visits

Then integrate all 3 and show student_id, name, score, last_visit.

In [ ]:
# load dataset
student_df = pd.read_csv("dataset/students.csv")
exam_df = pd.read_json("dataset/exam_scores.json")
log_df = pd.read_csv("dataset/website_logs.csv")

print(student_df.head())
print(exam_df.head())
print(log_df.head())

   student_id                name  age                          email
0        2001       Tyler Watkins   21  angelatorres@burns-benson.com
1        2002  Mr. Jonathan Lewis   21        williamsnancy@white.com
2        2003      Michael Garcia   20           rossdaniel@gmail.com
3        2004       Heidi Johnson   22            cbenson@hotmail.com
4        2005      Scott Thompson   21             pburnett@yahoo.com
   exam_id  student_id  subject  score
0    10445        2023  Science  73.11
1    10941        2069  History  62.54
2    10845        2094  Science  52.56
3    10251        2012  Science  91.71
4    10249        2097  History  69.89
   log_id  student_id           action            timestamp
0       1        2031     download_pdf  2025-08-03 05:35:31
1       2        2064            login  2025-07-09 09:34:45
2       3        2075           logout  2025-07-16 02:22:01
3       4        2019            login  2025-07-14 17:20:17
4       5        2030  view_assignment  2025-07-26 16:46:32

In [ ]:
# integrate them
student_exam = pd.merge(student_df, exam_df, on='student_id', how='left')
print(student_exam.head())

final_info = pd.merge(student_exam,log_df, on='student_id', how='left' )
print(final_info.head())

   student_id                name  age                          email  \
0        2001       Tyler Watkins   21  angelatorres@burns-benson.com
1        2002  Mr. Jonathan Lewis   21        williamsnancy@white.com
2        2003      Michael Garcia   20           rossdaniel@gmail.com
3        2004       Heidi Johnson   22            cbenson@hotmail.com
4        2005      Scott Thompson   21             pburnett@yahoo.com

   exam_id  subject  score
0      NaN      NaN    NaN
1  10467.0  English   58.7
2      NaN      NaN    NaN
3      NaN      NaN    NaN
4      NaN      NaN    NaN
   student_id                name  age                          email  \
0        2001       Tyler Watkins   21  angelatorres@burns-benson.com
1        2002  Mr. Jonathan Lewis   21        williamsnancy@white.com
2        2002  Mr. Jonathan Lewis   21        williamsnancy@white.com
3        2003      Michael Garcia   20           rossdaniel@gmail.com
4        2004       Heidi Johnson   22            cbenson@hotmail.com

   exam_id  subject  score  log_id        action            timestamp
0      NaN      NaN    NaN     NaN           NaN                  NaN
1  10467.0  English   58.7    12.0  download_pdf  2025-07-08 11:02:30
2  10467.0  English   58.7    45.0         login  2025-07-13 17:24:19
3      NaN      NaN    NaN    41.0  download_pdf  2025-07-25 20:14:04
4      NaN      NaN    NaN     NaN           NaN                  NaN